body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.button-container {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: transform 0.3s;
}
.Student_Teacher_Portal-btn {
    background-color: #1dd6d6;
}

.openP_index-btn {
    background-color: #da7e0e;
}

.calculator-btn {
    background-color: #007bff;
}

.tribute-btn {
    background-color: #28a745;
}

.Chatbot-btn {
    background-color: #690a7e;
}

.todo-btn {
    background-color: #dc3545;
}

.MinorProject-btn {
    background-color: #0cb985;
}

.MajorProject-btn {
    background-color: #b8ce28;
}

.button-container:hover {
    transform: scale(1.05);
}

.done-by {
    text-align: center;
    margin-top: 30px;
}

.about-section {
    text-align: center;
    margin-top: 30px;
}
/*
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
*/

.contact-info {
    font-size: 18px;
    margin-bottom: 15px;
}

/*.fancy-border-radius {*/
.profile-photo {

    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  
    width: 150px;
    height: 150px;
    background: #ad5389;
    background: -webkit-linear-gradient(to right,
        #3c1053,
        #ad5389);
    background: linear-gradient(to right,
        #3c1053,
        #ad5389);
  }